@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300);

.profile-card * ,
.profile-card *:before ,
.profile-card *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} 

.profile-card {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 10px;
    height: 240px;
    margin: 20px auto;
    width: 320px;
    overflow: hidden;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    position: relative;
    /* -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; */
    border: 2px solid rgba(0, 0, 0);
    
    
}

.profile-card header {
    background: #11111189;
    padding: 1px;
    height: 8px;
    /* -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; */
    padding-bottom: 1cm;
    /* border: 2px solid rgb(52, 239, 10); */
    
}

.profile-card header img {
    border: 5px solid #fff;
    border-radius: 50%;
    display: flex;
    margin: 10px auto;
    width: 120px;
}

.profile-card header h1 {
    color: #ff7043;
    font-family: "Open Sans";
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0;
    text-align: center;
    line-height: 1;
    /* -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; */
    
}
.profile-card header .hetext{
    display: flex;
    gap: 10px;
    justify-content: center;
    
}

.profile-card header h2 {
    color: #ff7043;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 4px;
    margin: 0 0 5px;
    text-align: center;
    /* -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; */
}

/* .profile-card .profile-bio {
    padding: 20px;
    position: relative;
    opacity: 0;
    -webkit-transition: all 0.3s 0.25s;
    -moz-transition: all 0.3s 0.25s;
    -o-transition: all 0.3s 0.25s;
    transition: all 0.3s 0.25s;
} */

.profile-card .profile-bio p {
    color: #999;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    font-family:  "Open Sans";
}

.profile-card .profile-social-links {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    position: relative;
    margin-top: 4cm;
    width:100%;
    /* border: 2px solid red; */
}

/* .profile-card .profile-social-links li {
    display: flex;
    float: left;
    width: auto;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: all 0.3s cubic-bezier(0, 1.135, 0.73, 1.405) 0.25s;
    -moz-transition: all 0.3s cubic-bezier(0, 1.135, 0.73, 1.405) 0.25s;
    -ms-transition: all 0.3s cubic-bezier(0, 1.135, 0.73, 1.405) 0.25s;
    transition: all 0.3s cubic-bezier(0, 1.135, 0.73, 1.405) 0.25s;
    border: 1px solid red;
} */

/* .profile-card .profile-social-links li:nth-child(2) {
    -webkit-transition-delay: 0.35s;
    -moz-transition-delay: 0.35s;
    -o-transition-delay: 0.35s;
    transition-delay: 0.35s;
} */

/* .profile-card .profile-social-links li:nth-child(3) {
    -webkit-transition-delay: 0.45s;
    -moz-transition-delay: 0.45s;
    -o-transition-delay: 0.45s;
    transition-delay: 0.45s;
} */



/*  CHANGES  ON HOVER  */

/* .profile-card:hover {
    height: 420px;
}
.profile-card:hover header {
    height: 200px;
} */

/* .profile-card:hover header h1,
.profile-card:hover header h2 {
    color: #fff;
} */

/* .profile-card:hover .profile-bio {
    opacity: 1;
}

.profile-card:hover  .profile-social-links li {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
} */


.retoure{
    position: absolute;
    /* border: 1px solid red; */
    width: 50px;
   margin-bottom: 15cm;
   margin-left: 20cm;
    
}

.retoureE{
    position: absolute;
    /* border: 1px solid red; */
    width: 50px;
   margin-bottom: 1cm;
   margin-left: 25cm;
    
}

.retoureF{
    position: absolute;
    /* border: 1px solid red; */
    width: 50px;
   margin-bottom: 25cm;
   margin-left: 25cm;
    
}



.updateB{
    /* border: 1px solid red; */
     height: auto;
   display: flex;
    align-items: center;
    justify-content: center;
}