*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  

 .CRT{
  width: 98.8vw;
  height: 760px;
  /* background-image: url("../assets/images/1.JPG"); */
  background-size: cover;
  /* border: 1px solid red; */

 }
 #principes{
  background-color: #ebebeb;
  /* border: 1px solid #0256fe; */
 }
 
 #home,
 #about,
 #comite,
 
 #programs,
 #contact {
   min-height: 60vh;
   text-align: center;
   background: #ffffff;
    
box-shadow: 0px -0px 0.2px 0px rgba(0,0,0,0.1);
   height: auto;
   bottom: 0;
   position: relative;
 }
 


  
  .zoom-carousel{
    margin: 100px;
  }
  .each-slideshow-indicator {
    display: none ;
  }